html, body {
    margin: 0;
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url('../assets/brushed-metal-texture-background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:150px;
    background: rgb(130,130,130);
    background: linear-gradient(169deg, rgba(130,130,130,1) 3%, rgba(181,181,181,1) 38%, rgba(241,241,241,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 150px ;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 20% 70%, 18% 100%, 0 100%); 
    margin-top: -50px;
}

h1 {
    justify-items: flex-end;
    flex-grow: 6;
    margin-top: 9vh;
    margin-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2vw;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkred;
}

.menu {
  flex-grow: 2;
}

.menuItem{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    /* margin-left: -22rem;
    padding-left: 22rem;  */
}

.header_shadow {
    
    -webkit-filter: drop-shadow(6px 6px 12px  black);
    filter: drop-shadow(6px 6px 12px  black);    
}

.header_border {
    -webkit-filter: drop-shadow(2px 2px 3px  red);
    filter: drop-shadow(2px 2px 3px  red);
}


main {
    display: flex;
    flex-direction: column;
    /* flex:1 0 auto; */
   
}

.backgroundImg {
    background: url('../assets/moraine1.jpg');
    background-size: cover;
    margin: 18vh auto 0 auto;  
    border: 2px solid black;
    height:52vh;
    width:50vw;
    opacity: 0.9;
}

.cardItem{
    align-self: center;
    margin: 0px;
    width: 8vw;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
    height: 40px;
    width: 100vw;
    
    text-align: center;
    background: rgb(130,130,130);
    background: linear-gradient(169deg, rgba(130,130,130,1) 3%, rgba(181,181,181,1) 38%, rgba(241,241,241,1) 100%);
    border-top: 1px solid red;
    box-shadow:  4px 0px 14px 4px black;
  }
  
  footer a {
    color: black;
    text-decoration: underline;
  }
  
  footer ul {
    display: flex;
    justify-content: center;  
  }
  
  footer li {
    font-size: 12px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
  }
  
  .footerIcon {
    margin-top: .5rem;
    width: 1.5rem;
    font-size: .7rem;
  }
  
  i:hover {
    color:lightsteelblue;
  }



.card {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    left:22vw;
    height: 18vh;
    width: 10vw;
    background-color:rgba(211,211,211,0.8);
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;
}

.item2{
    position: absolute;
    top: 35vh;
    left:37vw;
}

.item3{
  position: absolute;
  top: 50vh;
  left:52vw;
}

.item4{
  position: absolute;
  top: 65vh;
  left:67vw;
}



/* .test2{
    border: 1px sold black;
    box-shadow: 3px 3px 6px black;

} */

