.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
} 

.click {
  margin-top: 1.5vh;
}

.slide {
  width:50vw;
  box-shadow: 0px 16px 16px 0px black;
}

.arrow {
  height: 35px;
  width: 60px;
}

.thumbnail {
  width: 60px;
  border-radius: 4px;
}

@media screen and (max-width: 1400px) {
  /* #slide {
    margin-left: 190px;
    height: 435px;
    width: 850px;
  }

  #leftlight {
    height: 250px;
    width: 130px;
  }

  #rightlight {
    height: 250px;
    width: 130px;
  } */
}
